body {
    font-family: 'Segoe UI';
    font-size: 20px;
}

.img-float {
    width: 20%;
    float: left;
    margin-right: 1.3rem;
}

.clearfix {
    clear: both;
}

.box {
    float: left;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

.box1 {
    background-color: brown;
    width: 10%;
}

.box2 {
    background-color: blue;
    width: 20%;
}

.box3 {
    background-color: green;
    width: 40%;
}

.cont {
    border: 2px solid red;
    width: 30rem;
    height: 10rem;
    background-color: beige;
}

.first {
    overflow: auto;
}

.par {
    width: 80rem;
}